{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <!-- Button to trigger the modal -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#createHomeworkModal">
        Create Homework
    </button>
    </div>
    <br>

<!-- Modal -->
<div class="modal fade" id="createHomeworkModal" tabindex="-1" role="dialog" aria-labelledby="createHomeworkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createHomeworkModalLabel">Create Homework</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Create Homework</legend>
                        {{ form | crispy }}
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-info">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>


    {% if not homeworks_done %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Due</th>
                        <th scope="col">Status</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for homework in homeworks %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ homework.subject }}</td>
                            <td>{{ homework.title }}</td>
                            <td>{{ homework.description }}</td>
                            <td>{{ homework.due }}</td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault{{ forloop.counter }}" {% if homework.is_finished %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault{{ forloop.counter }}">
                                        Mark as Completed
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="{% url 'studyApp:delete_homework' homework.id %}" class="text-danger">
                                    <i class="fa fa-trash fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info mt-3" role="alert">
            All homeworks are completed! Create more to have additional tasks.
        </div>
    {% endif %}
</div>

<hr>


{% endblock content %}