{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<!-- django-quill-editor Media -->
{% include 'django_quill/media.html' %}

<style>
 
    /* Variables for easy theming */
    :root {
        --primary-color: #007bff;
        --secondary-color: #6c757d;
        --success-color: #28a745;
        --danger-color: #dc3545;
        --dark-color: #343a40;
        --light-color: #f8f9fa;
    }

    /* Global styles */
    body {
        background-color: var(--light-color);
        color: var(--dark-color);
        font-family: 'Arial', sans-serif;
    }

    /* Container */
    .container { 
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px 15px;
    
    }

    /* Button */
    .btn-primary {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    /* Cards */
    .card {
    
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}


    /* Modal */
    .modal-content {
        border-radius: 10px;
    }

    .modal-body input[type="text"],
    .modal-body textarea {
        border-radius: 5px;
        font-size: 16px;
        padding: 10px;
        border: 1px solid var(--secondary-color);
        width: 100%;
    }

    .modal-body input[type="text"]:focus,
    .modal-body textarea:focus {
        border-color: var(--primary-color);
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .homework-item {
        padding: 4px;
        margin-bottom: 4px;
        border-radius: 4px;
        background-color: var(--light-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

    .homework-item:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .homework-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 4px;
        color: var(--dark-color);
    }

    .homework-description {
        font-size: 16px;
        font-weight: bold;
        color: #333; /* Darker shade of black */
        margin-bottom: 4px;
    }

    .homework-status {
        font-size: 14px;
        font-weight: bold; /* Added font weight */
        color: green; /* Adjusted color for clarity */
        padding: 2px 4px;
        border-radius: 8px;
    }

    /* Edit and delete buttons */
    .edit-delete-buttons {
        display: flex;
        align-items: center;
    }

    .edit-delete-buttons button {
        margin-left: 4px;
    }

    /* Custom styles for pagination */
        .pagination {
            margin-top: 20px; /* Adjust as needed */
        }
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #f8f9fa; /* Example background color */
            padding: 10px 0; /* Adjust padding as needed */
            border-top: 1px solid #dee2e6; /* Example border */
        }
        .pagination li {
            display: inline-block;
            margin-right: 5px;
        }
        .pagination li.active span {
            color: #fff;
            background-color: #007bff; /* Example active background color */
            border-color: #007bff; /* Example active border color */
        }
        .pagination li a {
            color: #007bff; /* Example link color */
            text-decoration: none;
            padding: 6px 12px;
            border: 1px solid #007bff; /* Example border color */
        }
        .pagination li a:hover {
            background-color: #007bff; /* Example hover background color */
            color: #fff;
        }

    



</style>

<div class="container">
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-sm btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#createHomeworkModal">
            <i class="fas fa-plus me-1"></i> Create Homework
        </button>
    </div>
    
    <div class="modal fade" id="createHomeworkModal" tabindex="-1" aria-labelledby="createHomeworkModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="createHomeworkModalLabel">Create Homework</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form.non_field_errors }}
                        
                        <!-- Subject Input -->
                        <div class="mb-3">
                            <label for="{{ form.subject.id_for_label }}" class="form-label">Subject</label>
                            {{ form.subject|add_class:"form-control bg-light" }}
                        </div>
    
                        <!-- Title Input -->
                        <div class="mb-3">
                            <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
                            {{ form.title|add_class:"form-control bg-light" }}
                        </div>
    
                        <!-- Description Input -->
                        <div class="mb-3">
                            <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
                            {{ form.description|add_class:"form-control bg-light" }}
                        </div>
    
                        <!-- Due Date Input -->
                        <div class="mb-3">
                            <label for="{{ form.due.id_for_label }}" class="form-label">Due Date</label>
                            <div class="input-group">
                                {{ form.due|add_class:"form-control bg-light" }}
                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
    
                        <!-- Status Checkbox -->
                        <div class="mb-3 form-check">
                            <input class="form-check-input" type="checkbox" id="{{ form.is_finished.id_for_label }}" name="{{ form.is_finished.html_name }}">
                            <label class="form-check-label ms-2" for="{{ form.is_finished.id_for_label }}">{{ form.is_finished.label }}</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- Create Button -->
                        <button type="submit" class="btn btn-info" >Create</button>
                        <!-- Close Button -->
                        <button type="button" class="btn" style="background-color: #6c757d; border-color: #6c757d; color: #fff;" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
    
    
    
    

    <!-- Display homework -->
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2 class="mt-3 mb-3 text-dark fw-bold">Your <span class="text-muted">Homework</span></h2>


            {% comment %} <a href="{% url 'studyApp:calendar_view' %}">View Homework Deadlines on Calendar</a> {% endcomment %}
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="toggleSwitch" onchange="toggleHomeworkVisibility()">
            <label class="form-check-label" for="toggleSwitch">Show Incomplete</label>
        </div>

    </div>
    <hr>
    {% if homeworks %}
        {% for homework in page_obj %}
            <div class="homework-item {% if homework.is_finished %}finished{% endif %}">
                <div>
                    <div class="homework-title">
                        <a href="{% url 'studyApp:homework_detail' homework.id %}">{{ homework.title }}</a>
                    </div>
                    <div class="homework-description">{{ homework.subject }}</div>
                    <div class="homework-status">
                        <small class="text-muted">updated {{homework.updated_at}} </small>
                        {% if homework.is_finished %}
                        <span class="badge badge-primary">Complete</span>
                        {% else %}
                        <span class="badge badge-warning">Incomplete</span>
                        {% endif %}
                    </div>
                    
                </div>
                <div class="d-flex">
                    <a href="{% url 'studyApp:edit_homework' homework.id %}" class="btn btn-sm btn-primary mr-2">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <form method="post" action="{% url 'studyApp:delete_homework' homework.id %}" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this homework?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                    </form>
                </div>
                
            </div>
        {% endfor %}
    {% else %}
        <p class="mt-5">No homework yet.</p>
    {% endif %}
    <hr>
</div>


<!-- Pagination -->
<div class="footer fixed-bottom bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link bg-secondary text-white" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link bg-secondary text-white" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page_obj.previous_page_number }}</a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <span class="page-link bg-dark">{{ page_obj.number }}</span>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link bg-secondary text-white" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page_obj.next_page_number }}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link bg-secondary text-white" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>



<script>
function toggleHomeworkVisibility() {
    var checkbox = document.getElementById("toggleSwitch");
    var finishedHomeworkItems = document.querySelectorAll('.homework-item.finished');

    if (checkbox.checked) {
        finishedHomeworkItems.forEach(function(item) {
            item.style.display = 'none';
        });
    } else {
        finishedHomeworkItems.forEach(function(item) {
            item.style.display = 'flex';
        });
    }
}
</script>

{% endblock content %}
